@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth; /*rolagem suave*/ /*obrg :)*/ /*de nada ;)*/
}

/* VARIÁVEIS */
:root {
  --cor0: #3e0084;
  --cor1: #623c8d;
  --cor2: #dd3232;
  --borda: #69479f;
  --caixa1: #c1e5ff;
  --caixa2: #f8f0b9;
  --caixa3: #a982d6;
  --caixa4: #de6868;
  --caixa5: #e6e6e6;
  --footer1: #dcf09c;
  --footer2: #9ada70;
  --footer3: #70c230;
  --footer4: #70c230;
}

/* BODY */
body {
  background-image: url(img/wpp.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;

  min-width: 300px;
  max-width: 900px;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

header ul {
  list-style: none;
  margin-right: 40px;
  font-size: 20px;
}

header picture.cartaz > img {
  width: 320px;
}

header picture.cartaz > img {
  box-shadow: -7px 9px 9px #000000cc;
}

header h1 {
  color: #3e0084;
  font-size: 3.2em;
  font-weight: normal;
  margin: 5px auto;
}

header h3 {
  color: var(--cor1);
  font-weight: normal;
  margin: 5px auto;
}

header h4 {
  color: red;
  font-weight: normal;
  margin: 5px auto;
}

.header-direita {
  display: flex;
  flex-direction: column;
  gap: 10px 10px;
  align-items: flex-start;
}

.header-direita h1 {
  text-align: left;
  margin: 0;
}

.header-direita h3 {
  text-align: left;
  margin: 0;
  font-size: 1.3em;
}

.header-direita h4 {
  text-align: left;
  margin: 0;
  font-size: 1.05em;
}

.caixa-header-direta {
  background-color: white;
  border-radius: 3px;
  border: 1px solid black;
  text-align: center;
  width: 355px;
  padding: 12px 0px;
  margin-top: 15px;

  position: relative;
  overflow: visible;
}

/*PORTA DOS FUNDOS*/
picture.porta > img {
  position: absolute;
  bottom: 5px;
  right: 10px;

  width: 62px;

  pointer-events: none;
  z-index: 10;
}

/* NAV */
nav {
  background: linear-gradient(
    to bottom,
    white,
    white,
    rgba(255, 197, 236, 0.938)
  );

  border: 4.5px solid var(--borda);

  width: 90%;
  max-width: 700px;

  padding: 8px 20px;
  margin: 20px auto;

  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

nav a {
  color: rgb(22, 22, 22);
  text-decoration: none;
  transition: 0.2s;
  padding: 0px 35px;
}

nav a:hover {
  text-decoration: underline;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.342);
}

/* MAIN */
main {
  width: 280px;
}

main h5 {
  color: white;
  background: linear-gradient(to right, var(--cor0), transparent);
  padding: 3.5px;
  text-indent: 9px;
  min-width: 235px;
  max-width: 50px;
  margin-top: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}

main div.azulzin,
main div.amarelin,
main div.roxin,
main div.vermelhin {
  margin-bottom: 15px;
  width: 270px;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.486);
}

main div.azulzin {
  background-color: var(--caixa1);
  border: 3px solid blue;
  padding: 2px 2px 11px 5px;

  position: relative;
  overflow: visible;
}

/*FLOR AZUL*/
.flower {
  position: absolute;
  right: -20px;
  bottom: 150px;

  width: 60px;
  pointer-events: none;

  z-index: 10;
}

.flower img {
  width: 100%;
  height: auto;
}

main div.amarelin {
  background-color: var(--caixa2);
  border: 3px solid rgb(131, 131, 0);
  padding: 3px 2px 10px 3px;

  position: relative;
  overflow: visible;
}

/*PEIXE NEMO*/
.peixe {
  position: absolute;
  bottom: -20px;
  right: 200px;

  width: 60px;

  pointer-events: none;

  z-index: 20;
}

.peixe img {
  width: 100%;
  height: auto;
}

main div.roxin {
  background-color: var(--caixa3);
  border: 3px solid rgb(88, 3, 88);
  padding: 3px 2px 10px 3px;
}

main div.vermelhin {
  background-color: var(--caixa4);
  border: 3px solid rgb(122, 0, 0);
  padding: 7px 2px 10px 3px;
  font-size: 0;

  position: relative;
  overflow: visible;
}

/* CURSOR */
.cursor {
  position: absolute;
  bottom: -25px; /* desce um pouco para sobrepor */
  right: -5px; /* sai um pouco para fora */

  width: 35px; /* ajuste o tamanho conforme necessário */
  pointer-events: none; /*n interfere nos icones*/

  z-index: 20;
}

.cursor img {
  width: 100%;
  height: auto;
}

/* ICONES VERMELHIN */
div.vermelhin img.instagram,
div.vermelhin img.spotify,
div.vermelhin img.discord,
div.vermelhin img.letterboxd {
  padding: 0px 14.5px;
  transition: transform 0.25s ease, opacity 0.25s ease; /*animação qnd destaca img*/
}

div.vermelhin img.instagram:hover,
div.vermelhin img.spotify:hover,
div.vermelhin img.discord:hover,
div.vermelhin img.letterboxd:hover {
  transform: scale(1.15); /*destaque da img*/
}

/* ARTICLE */
main li {
  padding-top: 5px;
}

article p {
  text-align: justify;
  text-justify: inter-word;
  padding-left: 20px;
  padding-right: 20px;
}

article li {
  text-align: justify;
  text-justify: inter-word;
  padding-right: 20px;
}

article img {
  display: inline-block;
  margin: 0 auto;
  width: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

/* ASIDE */
aside {
  width: 340px;
}

aside div.colunadois {
  background-color: white;
  border: 3.5px solid gray;
  width: 300px;
  padding: 15px;
  box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.486);

  display: flex;
  flex-direction: column;
  gap: 15px;

  position: relative;
  overflow: visible;
}

aside h2 {
  color: var(--cor0);
  margin: 5px 5px 0px 5px;
  font-size: 2em;
}

aside p {
  color: red;
  font-weight: normal;
  font-size: 0.9em;
}

aside h3 {
  text-align: center;
}

.telefone {
  position: absolute;
  bottom: -25px;
  right: -25px;

  width: 70px;

  pointer-events: none;

  z-index: 20;
}

.telefone img {
  width: 100%;
  height: auto;
  box-shadow: none;
}

/* PALAVRAS COLORIDOS */
aside div.palavraverde,
aside div.palavraamarelo,
aside div.palavravermelho,
aside div.palavralaranja,
aside div.palavravioleta,
aside div.palavrarosa {
  width: 200px;
  margin: auto;
  border-radius: 50%;
  padding: 15px 0px 15px 0px;
}

aside div.palavraverde {
  background-color: rgb(14, 194, 14);
  box-shadow: 2.5px 4.5px 0px rgb(0, 0, 0);
}
aside div.palavraamarelo {
  background-color: rgb(241, 218, 5);
  box-shadow: 2.3px 4.5px 0px rgb(0, 0, 0);
}
aside div.palavravermelho {
  background-color: red;
  box-shadow: 2.3px 4.3px 0px rgb(0, 0, 0);
}
aside div.palavralaranja {
  background-color: rgb(253, 93, 0);
  box-shadow: 2.3px 4.3px 0px rgb(0, 0, 0);
}
aside div.palavravioleta {
  background-color: violet;
  box-shadow: 2.3px 4.3px 0px rgb(0, 0, 0);
}
aside div.palavrarosa {
  background-color: rgb(255, 3, 213);
  box-shadow: 2.3px 4.3px 0px rgb(0, 0, 0);
}

aside img {
  width: 310px;
  display: block;
  margin: 25px auto 8px auto;
  box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.575);
}

/* LAYOUT */
.container {
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: flex-start;
}

/* FOOTER */
footer {
  background: linear-gradient(
    to right,
    var(--footer1),
    var(--footer2),
    var(--footer4)
  );
  padding: 10px 0px 10px 0px;
  margin: 30px auto;
  border: 1.8px solid black;
  border-radius: 3px;
  max-width: 750px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  position: relative;
  overflow: visible;
}

footer img {
  width: 100px;
}

.trevo {
  position: absolute;
  right: 15px;
  bottom: 65px;

  width: 60px;
  pointer-events: none;

  z-index: 10;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  body {
    background-size: cover; /* cobre toda a tela */
    background-position: center; /* centraliza */
    background-repeat: no-repeat; /* não repete */
    background-attachment: fixed; /* deixa o fundo fixo */
  }

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .header-direita {
    align-items: center;
  }

  .header-direita h1,
  .header-direita h3,
  .header-direita h4 {
    text-align: center;
  }

  header img {
    width: 90%;
    max-width: 320px;
  }

  .caixa-header {
    width: 130%;
    max-width: 400px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .colunadois {
    margin-top: -50px;
  }

  footer {
    gap: 10px;
    text-align: center;
    padding: 20px;
  }

  footer h2 {
    width: 100%;
    margin: 15px 0;
    font-size: 1.5rem;
    order: 2;
  }

  footer picture {
    display: flex;
    justify-content: center;
    width: 40%;
    max-width: 150px;
  }

  footer picture:nth-of-type(1),
  footer picture:nth-of-type(2) {
    order: 1;
  }

  footer picture:nth-of-type(3),
  footer picture:nth-of-type(4) {
    order: 3;
  }

  footer img {
    width: 80%;
    height: auto;
  }

  .trevo {
    position: absolute;
    right: 10px;
    bottom: 10px;

    width: 60px;
    pointer-events: none;

    z-index: 10;
  }
}

@media (max-width: 700px) {
  nav {
    padding: 10px;
    gap: 6px;
  }

  nav a {
    padding: 0px 10px;
    font-size: 0.95em;
  }
}
